.menu {
    display: flex;
    height: 50px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.button {
    width: 100%;
    height: 100%;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0FF;
}

.button:hover {
    background-color: #dadada;
    cursor: pointer;
}

.activeButton {
    background-color: #76ff69;
}

.activeButton:hover {
    background-color: #66e85d;
}

.unactiveButton {
    background-color: #ff6969;
}

.unactiveButton:hover {
    background-color: #e85d5d;
}