.container {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 60px;
    left: 15px;
    background-color: #F0F0F0FF;
    border-radius: 9px;
    z-index: 1000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 300px;
    place-content: center;
}

.confirmButton {
    width: 100%;
    height: 30px;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 8px;
    border-radius: 4px;
}

.confirmButton:hover {
    background-color: #dadada;
    cursor: pointer;
}

.optionButton {
    width: 100%;
    height: 25px;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 4px;
    border-radius: 4px;
}

.optionButton:hover {
    background-color: #dadada;
    cursor: pointer;
}

.active {
    background-color: #dadada;
}

.curveStylesContainer {
    display: flex;
    align-items: center;
    margin: 4px 8px;
    width: 100%;
}

.dropdownContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #F0F0F0FF;
    border-radius: 9px;
    max-height: 200px;
    overflow: auto;
    margin: 8px;
}